body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
   
}

/* for menu/dropdown menu start*/
ul,
li{
    list-style: none;
}
.nav{
    
    width: 50%;
    height: 60px;
    box-shadow: 10px 10px 30px rgb(192, 180, 180);
    background: rgb(26, 40, 117);
    margin: 0 10px;
    border-radius: 10px;
} 

.nav ul li{
    float: left;
    padding:0 60px;
    position: relative;
   width: 80px;

   
}
.nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
}
.nav ul li a{
    line-height: 25px;
    color: rgb(121, 90, 90);
    font-weight: 800;
    font-size: 20PX;
    font-family: 'Varela', sans-serif;
    padding:5px 5px;
    border-radius: 10px;
    display: block;
   
}
.nav ul li ul {
    position: absolute;
    font-size: 30px;
    left: 0; 
    transform: translate(-15%,0);
    visibility: hidden;
    opacity: 0;
    text-align: center;
     
}
.nav ul li ul a{
    font-size: 15px;
}
.nav ul li a:hover{
color: rgb(32, 150, 197);
background: rgb(211, 204, 204);
box-shadow: 10px 10px 30px rgb(107, 119, 124);
transition: all linear 0.3s;
}
.nav H1{
    display: inline-block;
    padding: 0 150px;
    line-height: 20px;
    font-family: 'Nosifer', cursive;
    color: rgb(87, 76, 76);
    font-size: 20PX;
   
}
.head{
    display: flex;
    padding-bottom:50px ;

}
/* for menu/dropdown menu end*/


/* 1st section start from here */
.orange{
    color: rgb(255, 81, 0);
}
h1{
    font-size: 45px;
}
#w{
    padding-top: 100px;
}
p{
    opacity: 50%;
}
.button{
    padding: 15px 20px;
    background-image: linear-gradient(#FBA24F,#FF1E1E);
    border-radius: 30px;
    color: white;
    font-weight: 400;
}
.section1{
    display: flex;

}
.secdiv1{
width: 50%;
padding-left: 60px;
}
.secdiv1 img{
width: 80%;
}

/* 2nd section start from here */
.section2{
    background-image: url(10.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: 650px;
    background-size: cover;
    background-position: center;
}
.secdiv2{
    display: flex;
}
.ss p{
    text-align: justify;
}
.ss{
    width: 60%;
    padding-left: 5%;
}
.ss img{
    width: 60%;
    height: 600px;
    padding-left: 20%;
}
#sss{
    padding-top: 100px;
    width: 300px;
}
h2{
    text-align: center;
}
.text{
    text-align: center;
}


/* 3rd section start from here */
.section3{
    margin: 10px 0;
    width: 400px;
    padding: 20px 450px;
}

/* 4th section start from here */
.secdiv4 img{
    width: 90%;
    height: 200px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    
}
.secdiv4{
    height: 500px;
    width: 300px;
    margin-left: 90px;
    margin-right: 90px;
    box-shadow: 10px 10px 30px greenyellow (153, 145, 145);
    border-radius: 20px;
    
}
.sec4{
    display: flex;
}
.secdiv4 h1{
    font-size: 35px;
}
.sec4{
    margin-bottom: 50px;
}

/* footer start from here */
.foot{
    width: 1350px;
    height: 120px;
    background: rgb(13, 13, 14);
    text-align: center;
    padding-top: 10px;
}
.foot h4{
    color: rgb(75, 67, 67);
}
.foot p{
    color: rgb(253, 23, 7);
}